@page "{questionId}"
@model Quanda.Pages.Questions.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <b>Title:</b><br/>
    <span>@Model.Question.QuestionTitle</span>
</div>

<div>
    <b>Description:</b><br/>
    <span>@Model.Question.QuestionText</span>
</div>

<div>
    <b>Created:</b><br/>
    <span>@Model.Question.Created.ToShortDateString() @Model.Question.Created.ToShortTimeString()</span>
</div>

<div>
    <b>Edited:</b><br/>
    <span>@Model.Question.Edited.ToShortDateString() @Model.Question.Edited.ToShortTimeString()</span>
</div>
